/* 
    Document   : contactform
    Created on : 2012-11-18, 15:27:27
    Author     : pixel
*/

/* contact table */
table#contact_table{
        background: #f5f5f5;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);    
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        border-collapse: separate;
        position: relative;
        font-family: Verdana, Times New Roman,Arial;
        font-size: 13px;  
}

table#contact_table tbody tr td.first{
        padding-top: 20px;
}

table#contact_table thead tr th{
        font-size: 20px;
        font-family: "Georgia", "Verdana", "Times New Roman";
        color: #8d8d8d;
        text-align: left;
        padding-bottom: 6px;
        border-bottom: 1px solid #c4c4c4;
        text-shadow: 1px 1px 1px #222;
}

table#contact_table th{
        text-align: right;
        vertical-align: middle;
}

table#contact_table label{
        color: #5e5e5e;
        padding: 0px 3px 0px 10px;
}


/* placeholders */
table#contact_table ::-webkit-input-placeholder { 
        font-style: italic;
        font-size: 0.8em;
        padding-left: 4px;
        font-family: "Verdana", "Times New Roman", "Arial"; 
}
table#contact_table :-moz-placeholder {
        font-style: italic;
        font-size: 0.8em;
        padding-left: 4px;
        font-family: "Verdana", "Times New Roman", "Arial";
}

/* before validation */
table#contact_table .input-validation{
        background-image: none;   
        margin-top: 5px;
}


/* validation pass */
table#contact_table .input-validation.valid{
        background-image: url(/images/form_valid2.png);
        background-repeat: no-repeat;    
}

/* validation fail*/
table#contact_table .input-validation.invalid{
        background-image: url(/images/form_invalid2.png);
        background-repeat: no-repeat;    
}



/* inputs style */
table#contact_table input[type="text"], table#contact_table input[type="email"], table#contact_table textarea {
        background-color: white;
        border: 1px solid #CCC;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);    
        -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
        -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
        -o-transition: border linear 0.2s, box-shadow linear 0.2s;
        transition: border linear 0.2s, box-shadow linear 0.2s;
        display: inline-block;
        height: 20px;
        width: 370px;
        line-height: 20px;
        min-width: 270px;
        padding: 4px 6px;
        margin: 4px 0px 4px 0px;
        font-size: 13px;    
        color: #555;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;  
}

table#contact_table textarea{
        height: 160px;   
        max-width: 440px;
        max-height: 250px;
}

table#contact_table input[type="text"]:focus, table#contact_table input[type="email"]:focus, table#contact_table textarea:focus{
        border-color: rgba(82, 168, 236, 0.8);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

table#contact_table input[type="submit"]{
    float: right;
}


/* display validation status */
.input-validation{
        width: 20px;
        height: 20px;
        margin-top: 4px;
        margin-left: 4px;
        float: right;
}

/* display validation error */
p.error{
    font-size: 10px;
    color: #FF4141;
    font-style: italic;
    margin: 0px 25px 0px 0px;
    padding: 2px 6px;
}


/* helper style */
.red{
        color: #FF6161;
}


/* errors from server validation */
table#contact_table ul.error_list{
        margin-top: 4px;
        color: #FF2727;
        font-size: 11px;
}


/* input submit */
table#contact_table input[type="button"], table#contact_table input[type="submit"]{
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px 0px inset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 11px;
    font-weight: bold;
    padding: 6px 10px;
    text-align: center;
    color: #434343;
    line-height: 1;
    background: #EDEDED;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #EDEDED));
    background-image: -webkit-linear-gradient(top, white, #EDEDED);
    background-image: -moz-linear-gradient(top, white, #EDEDED);
    background-image: -o-linear-gradient(top, white, #EDEDED);
    background-image: linear-gradient(top, white, #EDEDED);
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px;
    border: 1px solid lightGrey;
    cursor: pointer;
}

table#contact_table input[type="button"]:hover, table#contact_table input[type="submit"]:hover{
    background: #e3e3e3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UzZTNlMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f7f7), color-stop(100%, #e3e3e3));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -moz-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: -o-linear-gradient(top, #f7f7f7, #e3e3e3);
    background-image: linear-gradient(top, #f7f7f7, #e3e3e3); 
}